@import url('https://fonts.googleapis.com/css2?family=Andika+New+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.posts {
    flex: 9;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Andika New Basic', sans-serif;
}